# =========================================
# Python 기본 무시 파일
# =========================================
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb

# 가상환경
venv/
env/
.venv/

# jupyter
.ipynb_checkpoints/

# =========================================
# OS 관련 파일
# =========================================
.DS_Store
Thumbs.db

# =========================================
# 로그(LOG)
# =========================================
logs/
*.log
pipeline_log.txt

# =========================================
# 컬러칩 데이터 (용량 큼 → Git 관리 X)
# =========================================

# 원본 이미지
data/01_colorchips/01_colorchips_original/

# 필터링된 원본
data/01_colorchips/02_colorchips_filtered/pass/
data/01_colorchips/02_colorchips_filtered/fail/

# 대표 컬러칩 결과물
data/01_colorchips/03_colorchips_result/

# 비교 이미지 결과물
data/01_colorchips/04_auto_compare/

# CSV 결과물 (실시간 생성 → 저장 필요 없음)
data/01_colorchips/05_csv_result/*.csv

# =========================================
# 개발 도구 파일
# =========================================
.vscode/
.idea/

# =========================================
# 임시 파일
# =========================================
*.tmp
*.temp
*.bak


# 
# 나연 과정
ny_test/
test_version/

